// Here you can add other styles

.app {
  .navbar {
    &.header-color-student {
      background-color: #673ab7 !important;

      .navbar-brand{
        a{
          color: white;
        }
      }
      .nav-link {
        color: white ;

        &.active {
          font-weight: bold;
        }
      }
    }

    &.header-color-tutor {
      background-color: #485CF8 !important;

      .navbar-brand{
        a{
          color: white;
        }
      }
    }
    &.header-color-tutor .navbar-nav .nav-item .nav-link, &.header-color-tutor .navbar-brand, &.header-color-tutor .dropdown>a{
      color:white !important;
    }
  }

  .navbar-brand {
    .main-logo {
      width: $navbar-brand-width;
      height: $app-navbar-brand-height;
      margin-left: 8px;
    }
    a{
      color: #673ab7;
    }
  }

  .navbar-nav {
    .nav-link {
      color: #673ab7 ;

      &.active {
        font-weight: bold;
      }
    }
  }

  .img-avatar {
    width: 35px;
    height: 35px;
    margin-bottom: 0;
    background-color: #fff;
  }
}

.header-fixed .app-body {
  //margin-top: 65px;
}

.card {
  .card-header {
    .card-actions {
      float: left;
    }
  }
}

.ReactTable .rt-tr-group {
  cursor: pointer;
}

.ReactTable .-pagination .-btn {
  background: #c2cfd6;
}

.rt-tr-group .form-group {
  margin-bottom: 0;
}

.Select-control {
  border: 1px solid #c2cfd6;
}

.form-group {
  margin-bottom: 3px;
}

.bor-0 {
  border-radius: 0;
}

.kSIiDU {
  margin: 25% auto !important;
  position: fixed;
  right: 50%;
}

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #20A8D8;
  outline: 1px solid slategrey;
}

.intl-tel-input {
  display: block;
}

.fw-100 {
  font-weight: 100;
}

.fw-300 {
  font-weight: 300;
}

.react-datepicker-wrapper {
  display: block;
}

.react-datepicker__input-container {
  display: block;
}

.to-top {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.ReactTable {
  background-color: #fff;
}

.ReactTable .rt-thead.-header {
  font-weight: 500;
}

.ReactTable .-pagination {
  justify-content: flex-start;
}

.ReactTable .-pagination div {
  flex: initial !important;
}

.ReactTable .-pagination .-previous, .ReactTable .-pagination .-next {
  width: 50px;
}
.ReactTable .rt-tbody {
  text-align: center;
  min-width: 720px;
}

.tel-input-custom input {
  padding: 13px 10px 13px 66px !important;
}

.tel-input-custom .intl-tel-input.allow-dropdown .selected-flag {
  background-color: #F0F3F5;
  width: 50px;
  border-right: 1px #E0E0E0 solid;
}

.swal2-popup .swal2-title {
  font-size: 20px !important;
}

.item {
  //border-bottom: 1px #E0E0E0 solid;
  border: 1px solid #c2cfd6;
  padding: 5px;
  margin-top: 3px;
  font-size: 12px;
}

.item:hover {
  cursor: pointer;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  transition: all .2s ease-in-out;
  background: #f4ffc7;
}

.item i {
  margin-right: 5px;
}

.cardShadow {
  box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .15) !important;
}

.semi {
  font-weight: 600;
}

.slick-slider .slick-dots {
  bottom: -5px;
}

.slider {
  transform: scale(0.8);
  transition: all .2s ease-in-out;
  margin: 0;
}

.slider:hover {
  margin-top: -5px;
  transition: all .2s ease-in-out;
}

.swal2-title {
  font-weight: 300;
  font-size: 18px;
}

/*Media*/
@media screen and (max-width: 840px) {
  #category-menu {
    float: none;
    clear: both;
    div {
      float: left;
      margin: 3px;
    }
    h3, span {
      display: none;
    }
    img {
      height: 60px;
    }
  }
  .serivices-content {
    clear: both;
  }
}

@media screen and (min-width: 768px) {
  .login-btn {
    display: none;
  }
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #20a8d8;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.hr-dashed {
  border: none;
  border-bottom: 1px #D8D8D8 dashed;
}

.hr-dotted {
  border: none;
  border-bottom: 1px #D8D8D8 dotted;
}

.Select-control {
  border-color: #E0E0E0;
}

.Select.is-disabled > .Select-control, .form-control:disabled, .form-control[readonly] {
  background-color: #F2F2F2;
}

::placeholder {
  color: #aaa !important;
}

.nav-dropdown-toggle:before {
  transform: rotate(180deg);
}

.container-fluid {
  padding: 15px;
}

.input-group-prepend span {
  border-radius: 0;
}

a:hover {
  text-decoration: none;
}

.tabMenu {
  transition: left 0.25s, right 0.25s, width 0.25s;
  position: relative;
  border-bottom: 1px solid #E0E0E0;
  display: flex;
  flex-wrap: wrap;
  padding: 0rem 1rem;
  margin-bottom: 1.5rem;
  list-style: none;
  background-color: #fff;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -15px;
}

.tabMenu li {
  display: flex;
}

.tabMenu li a {
  padding: 13px 18px 12px 18px;
  text-transform: uppercase;
  color: #151B1E;
}

.tabMenu li a:hover, .tabMenu li a.active {
  color: #31A0CB;
  text-decoration: none;
  position: relative;
}

.tabMenu li a.active {
  border-bottom: 2px #31A0CB solid;
}

.card-header {
  padding: 8px 8px;
}

.card-footer {
  padding: 8px 8px;
}

.card-body, .card-block {
  padding: 8px;
}

.admin {
  background-color: #ebebeb !important;
}

//.app-header.navbar {
//  background-color: #007ee5;
//}

.cursor-pointer {
  cursor: pointer;
}

.cursor-move {
  cursor: move;
}

.btn[disabled] {
  cursor: not-allowed;
}

time.icon {
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
}

time.icon * {
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong {
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #fd9f1b;
  border-bottom: 1px dashed #f37302;
  box-shadow: 0 2px 0 #fd9f1b;
}

time.icon em {
  position: absolute;
  bottom: 0.3em;
  color: #fd9f1b;
}

time.icon span {
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #2f2f2f;
}

.tab :hover {
  cursor: pointer;
}

/* product */
.product-link:hover {
  text-decoration: none;
}

.product {
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14);
  text-align: center;
  position: relative;
  transition: all .2s ease-in-out;
  &:hover {
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    transform: translateY(-5px);
  }
  //.img {
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  //  white-space: nowrap;
  //  text-align: center;
  //  overflow: hidden;
  //  padding: 5px;
  //  img {
  //    max-height: 100px;
  //  }
  //}
  p {
    white-space: nowrap;
    padding: 0 5px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
  }
  > span {
    background-color: #f4ffc7;
    padding: 2px 5px;
    font-size: 12px;
    min-width: 25px;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14);
  }
  .price {
    background-color: #35d441;
    color: #ffffff;
    padding: 2px 5px;
    font-size: 14px;
    height: 25px;
    right: -5px;
    position: absolute;
    top: 8px;
    min-width: 25px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14);
    font-weight: bold;
  }

  .buttons{
    background: #fff;
    border: 5px solid #35d441;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 18px;
    color: #35d441;
    width: 40%;
    padding: 5px;
  }

  .custom-control.custom-radio {
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
  }
}

.cat h3 {
  white-space: normal;
  font-size: 14px;
}

// --- web/src/css/style.css

.Ellipse_1 {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-radius: 50%;
  background-color: transparent;
  width: 150px;
  height: 150px;
  z-index: 429;
  align-self: center;
  margin-bottom: 10px;
}

.imageUpploader {
  display: flex;
  flex-direction: column;
}

.custom-trash {
  font-size: 30px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.arsenal .tab-content > .active {
  min-height: 500px;
}

.arsenal .tab-content {
  overflow: scroll;
}

.custom-fa-user-plus {
  font-size: 30px;
}

.checkboxstatus {
  font-size: 30px;
}

@media (max-width: 767px) {
  .SideDrawer {
    display: none !important;
  }
  .arsenal .tab-content {
    margin-left: 10px;
  }
}

@media (min-width: 767px) {
  .toggle-sidebar {
    display: none;
  }
}

.no-pagination .ReactTable .-pagination {
  display: none;
}

.addProductSupp .ReactTable .-pagination {
  display: none;
}

.custom-card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end

}

.spurs {
  display: flex;
  justify-content: space-around;
}

.custom-product-list .rt-td {
  display: flex;
  justify-content: center;
  align-items: center;
}

.debtInfo .fa-calendar {
  font-size: 36px;
}

.positions {
  text-align: center;
}

.position {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  border: 1px solid #007eff;
  padding: 2px 5px;
  margin-left: 2px;
  margin-right: 2px;
  cursor: default;
  display: inline-block;
  vertical-align: middle;
  color: #007eff;
  font-size: 0.9em;
}
.no-padding-paragraph p {
  padding-bottom: 0;
  margin-bottom: 0;
}

.file_img {
  height: 120px;
  width: 130px;
  margin: 4px;
  border-radius: 10px;
}

.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0 1px 8px -3px #ABABAB;
  background: #fefefe;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.headlineButtonWrapper {
  display: inline-block;
}

.headlineButton {
  background: #fbfbfb;
  color: #888;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
}

.headlineButton:hover,
.headlineButton:focus {
  background: #f3f3f3;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  padding-left: 0;
  padding-right: 0;
}

.textEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listItem:hover {
  cursor: pointer;
  background-color: #F1F1F1;
  box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .15) !important;
  transition: all .2s ease-in-out;
}

.attributesTitle {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attributesTitle h5 {
  padding-right: 0.5rem;
}

.vertical-line {
  border-right: 1px solid gray;
  height: 100%;
}

.news-editor .editor {
  width: 100%;
}

.table-invoice {
  thead {
    th {
      vertical-align: middle;
      text-align: center;
    }
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ReactTable .rt-td {
    padding: 3px 3px !important;
    align-self: center;
}

.ReactTable .-pagination input, .ReactTable .-pagination select {
    padding: 0 !important;
}
/* ----------------------------------------------------------- */
.top-info-block {
  display: flex;
  /* position: absolute; */
  justify-content: center;
  height: 120px;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  background: azure;
}

.KGiwt {
  background-color: #fff;
  border: 0;
  bottom: 0;
  height: 44px;
  left: 0;
  position: fixed;
  right: 0;
  top: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 10;
}

.A8wCM, ._Cwuq {
  height: 100%;
}

.BvyAW {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
}

.q02Nz {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

._0TPg, .q02Nz {
  font-size: 25px;
  display: flex;
  align-items: center;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.carousel-tem>img{
  width: 100%;
}


/*---------MEDIA QUERIES-------------------------------------------------------------------*/
@media screen and (min-width: 768px) {
    .KGiwt{
      display: none;
    }
  .start-action-block{
    display: none;
  }
}

@media screen and (max-width: 767.9px) {
  .app-body {
    margin-top: 5px;
  }
  .my-nav{
      display: none;
    }
  .start-action-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}


/*------------CALENDAR-------------------------------*/
//.timeline {
//  position: relative;
//  z-index: 3;
//  overflow: hidden;
//  box-shadow: 0px 2px 4px rgba(0,0,0,.08);
//  background-color: azure;
//}
//
//.locked {
//  pointer-events: none;
//  cursor: not-allowed;
//  opacity: 0.5
//}
//
//.locked > .rbc-event {
//  pointer-events: none;
//}
//
///*http://intljusticemission.github.io/react-big-calendar/examples/index.html#prop-toolbar*/
//
//.rbc-btn {
//  color: inherit;
//  font: inherit;
//  margin: 0;
//}
//button.rbc-btn {
//  overflow: visible;
//  text-transform: none;
//  -webkit-appearance: button;
//  cursor: pointer;
//}
//button[disabled].rbc-btn {
//  cursor: not-allowed;
//}
//button.rbc-input::-moz-focus-inner {
//  border: 0;
//  padding: 0;
//}
//.rbc-calendar {
//  box-sizing: border-box;
//  height: 100%;
//  display: flex;
//  flex-direction: column;
//  align-items: stretch;
//}
//.rbc-calendar *,
//.rbc-calendar *:before,
//.rbc-calendar *:after {
//  box-sizing: inherit;
//}
//.rbc-abs-full,
//.rbc-row-bg {
//  overflow: hidden;
//  position: absolute;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//}
//.rbc-ellipsis,
//.rbc-event-label,
//.rbc-row-segment .rbc-event-content,
//.rbc-show-more {
//  display: block;
//  overflow: hidden;
//  text-overflow: ellipsis;
//  white-space: nowrap;
//}
//.rbc-rtl {
//  direction: rtl;
//}
//.rbc-off-range {
//  color: #999999;
//}
//.rbc-off-range-bg {
//  background: #e5e5e5;
//}
//.rbc-header {
//  overflow: hidden;
//  text-overflow: ellipsis;
//  white-space: nowrap;
//  padding: 0 3px;
//  text-align: center;
//  vertical-align: middle;
//  font-weight: bold;
//  font-size: 90%;
//  min-height: 0;
//}
//.rbc-header > a,
//.rbc-header > a:active,
//.rbc-header > a:visited {
//  color: inherit;
//  text-decoration: none;
//}
//.rbc-row-content {
//  position: relative;
//  user-select: none;
//  -webkit-user-select: none;
//  z-index: 4;
//}
//.rbc-today {
//}
//.day + .today {
//  color: red !important;
//}
//.rbc-toolbar {
//  display: flex;
//  align-items: center;
//  margin-bottom: 10px;
//  font-size: 16px;
//}
//.rbc-toolbar .rbc-toolbar-label {
//  flex-grow: 1;
//  padding: 0 10px;
//  text-align: center;
//}
//.rbc-toolbar button {
//  color: #373a3c;
//  display: inline-block;
//  margin: 0;
//  text-align: center;
//  vertical-align: middle;
//  background: none;
//  background-image: none;
//  border: 1px solid #ccc;
//  padding: .375rem 1rem;
//  border-radius: 4px;
//  line-height: normal;
//  white-space: nowrap;
//}
//.rbc-toolbar button:active,
//.rbc-toolbar button.rbc-active {
//  background-image: none;
//  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
//  background-color: #e6e6e6;
//  border-color: #adadad;
//}
//.rbc-toolbar button:active:hover,
//.rbc-toolbar button.rbc-active:hover,
//.rbc-toolbar button:active:focus,
//.rbc-toolbar button.rbc-active:focus {
//  color: #373a3c;
//  background-color: #d4d4d4;
//  border-color: #8c8c8c;
//}
//.rbc-toolbar button:focus {
//  color: #373a3c;
//  background-color: #e6e6e6;
//  border-color: #adadad;
//}
//.rbc-toolbar button:hover {
//  color: #373a3c;
//  background-color: #e6e6e6;
//  border-color: #adadad;
//}
//.rbc-btn-group {
//  display: inline-block;
//  white-space: nowrap;
//}
//.rbc-btn-group > button:first-child:not(:last-child) {
//  border-top-right-radius: 0;
//  border-bottom-right-radius: 0;
//}
//.rbc-btn-group > button:last-child:not(:first-child) {
//  border-top-left-radius: 0;
//  border-bottom-left-radius: 0;
//}
//.rbc-rtl .rbc-btn-group > button:first-child:not(:last-child) {
//  border-radius: 4px;
//  border-top-left-radius: 0;
//  border-bottom-left-radius: 0;
//}
//.rbc-rtl .rbc-btn-group > button:last-child:not(:first-child) {
//  border-radius: 4px;
//  border-top-right-radius: 0;
//  border-bottom-right-radius: 0;
//}
//.rbc-btn-group > button:not(:first-child):not(:last-child) {
//  border-radius: 0;
//}
//.rbc-btn-group button + button {
//  margin-left: -1px;
//}
//.rbc-rtl .rbc-btn-group button + button {
//  margin-left: 0;
//  margin-right: -1px;
//}
//.rbc-btn-group + .rbc-btn-group,
//.rbc-btn-group + button {
//  margin-left: 10px;
//}
//
//.rbc-event-wrapper {
//  color: black;
//  border-radius: 2px;
//  position: absolute;
//  border: rgba(51, 51, 51, 0.5) 1px solid;
//}
//.rbc-event-label {
//  font-size: 80%;
//}
//.rbc-event-overlaps {
//  box-shadow: -1px 1px 5px 0px rgba(51, 51, 51, 0.5);
//}
//.rbc-event-continues-prior {
//  border-top-left-radius: 0;
//  border-bottom-left-radius: 0;
//}
//.rbc-event-continues-after {
//  border-top-right-radius: 0;
//  border-bottom-right-radius: 0;
//}
//.rbc-event-continues-earlier {
//  border-top-left-radius: 0;
//  border-top-right-radius: 0;
//}
//.rbc-event-continues-later {
//  border-bottom-left-radius: 0;
//  border-bottom-right-radius: 0;
//}
//.rbc-event-continues-day-after {
//  border-bottom-left-radius: 0;
//  border-bottom-right-radius: 0;
//}
//.rbc-event-continues-day-prior {
//  border-top-left-radius: 0;
//  border-top-right-radius: 0;
//}
//.rbc-row {
//  display: flex;
//  flex-direction: row;
//}
//.rbc-row-segment {
//  padding: 0 1px 1px 1px;
//}
//.rbc-selected-cell {
//  background-color: rgba(0, 0, 0, 0.1);
//}
//.rbc-show-more {
//  background-color: rgba(255, 255, 255, 0.3);
//  z-index: 4;
//  font-weight: bold;
//  font-size: 85%;
//  height: auto;
//  line-height: normal;
//  white-space: nowrap;
//}
//.rbc-month-view {
//  position: relative;
//  border: 1px solid #DDD;
//  display: flex;
//  flex-direction: column;
//  flex: 1 0 0;
//  width: 100%;
//  user-select: none;
//  -webkit-user-select: none;
//  height: 100%;
//}
//.rbc-month-view .rbc-header {
//  border-bottom: 1px solid #DDD;
//}
//.rbc-month-view .rbc-header + .rbc-header {
//  border-left: 1px solid #DDD;
//}
//.rbc-rtl .rbc-month-view .rbc-header + .rbc-header {
//  border-left-width: 0;
//  border-right: 1px solid #DDD;
//}
//.rbc-month-header {
//  display: flex;
//  flex-direction: row;
//}
//.rbc-month-row {
//  display: flex;
//  position: relative;
//  flex-direction: column;
//  flex: 1 0 0;
//  overflow: hidden;
//  height: 100%;
//}
//.rbc-month-row + .rbc-month-row {
//  border-top: 1px solid #DDD;
//}
//.rbc-date-cell {
//  padding-right: 5px;
//  text-align: right;
//}
//.rbc-date-cell.rbc-now {
//  font-weight: bold;
//}
//.rbc-date-cell > a,
//.rbc-date-cell > a:active,
//.rbc-date-cell > a:visited {
//  color: inherit;
//  text-decoration: none;
//}
//.rbc-row-bg {
//  display: flex;
//  flex-direction: row;
//  flex: 1 0 0;
//  overflow: hidden;
//}
//.rbc-day-bg + .rbc-day-bg {
//  border-left: 1px solid #DDD;
//}
//.rbc-rtl .rbc-day-bg + .rbc-day-bg {
//  border-left-width: 0;
//  border-right: 1px solid #DDD;
//}
//.rbc-overlay {
//  position: absolute;
//  z-index: 5;
//  border: 1px solid #e5e5e5;
//  background-color: #fff;
//  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
//  padding: 10px;
//}
//.rbc-overlay > * + * {
//  margin-top: 1px;
//}
//.rbc-overlay-header {
//  border-bottom: 1px solid #e5e5e5;
//  margin: -10px -10px 5px -10px;
//  padding: 2px 10px;
//}
//.rbc-agenda-view {
//  display: flex;
//  flex-direction: column;
//  flex: 1 0 0;
//  overflow: auto;
//}
//.rbc-agenda-view table {
//  width: 100%;
//  border: 1px solid #DDD;
//}
//.rbc-agenda-view table tbody > tr > td {
//  padding: 5px 10px;
//  vertical-align: top;
//}
//.rbc-agenda-view table .rbc-agenda-time-cell {
//  padding-left: 15px;
//  padding-right: 15px;
//  text-transform: lowercase;
//}
//.rbc-agenda-view table tbody > tr > td + td {
//  border-left: 1px solid #DDD;
//}
//.rbc-rtl .rbc-agenda-view table tbody > tr > td + td {
//  border-left-width: 0;
//  border-right: 1px solid #DDD;
//}
//.rbc-agenda-view table tbody > tr + tr {
//  border-top: 1px solid #DDD;
//}
//.rbc-agenda-view table thead > tr > th {
//  padding: 3px 5px;
//  text-align: left;
//  border-bottom: 1px solid #DDD;
//}
//.rbc-rtl .rbc-agenda-view table thead > tr > th {
//  text-align: right;
//}
//.rbc-agenda-time-cell {
//  text-transform: lowercase;
//}
//.rbc-agenda-time-cell .rbc-continues-after:after {
//  content: ' \BB';
//}
//.rbc-agenda-time-cell .rbc-continues-prior:before {
//  content: '\AB   ';
//}
//.rbc-agenda-date-cell,
//.rbc-agenda-time-cell {
//  white-space: nowrap;
//}
//.rbc-agenda-event-cell {
//  width: 100%;
//}
//.rbc-time-column {
//  display: flex;
//  flex-direction: column;
//  min-height: 100%;
//}
//.rbc-time-column .rbc-timeslot-group {
//  flex: 1;
//}
//.rbc-timeslot-group {
//  border-bottom: 1px solid #DDD;
//  min-height: 40px;
//  display: flex;
//  flex-flow: column nowrap;
//}
//.rbc-time-gutter,
//.rbc-header-gutter {
//  flex: none;
//}
//.rbc-label {
//  padding: 0 5px;
//}
//.rbc-day-slot {
//  position: relative;
//}
//.timeline.daily-view .rbc-day-slot:nth-child(3),
//.timeline.daily-view .rbc-day-slot:nth-child(4) {
//  width: 50% !important;
//}
//
//.rbc-event-label {
//  display: none;
//}
//.rbc-day-slot .rbc-event-label {
//  flex: none;
//  padding-right: 5px;
//  width: auto;
//}
//.rbc-day-slot .rbc-event-content {
//  width: 100%;
//  flex: 1 1 0;
//  /*word-wrap: break-word;*/
//  /*word-break: break-all;*/
//  line-height: 1;
//  height: 100%;
//  min-height: 1em;
//}
//.rbc-day-slot .rbc-time-slot {
//  border-top: 1px solid #f7f7f7;
//}
//.rbc-time-slot {
//  flex: 1 0 0;
//}
//
//.rbc-time-slot.rbc-now {
//  font-weight: bold;
//}
//.rbc-day-header {
//  text-align: center;
//}
//.rbc-slot-selection {
//  z-index: 10;
//  position: absolute;
//  cursor: default;
//  background-color: rgba(0, 0, 0, 0.5);
//  color: white;
//  font-size: 75%;
//  padding: 3px;
//  width: 100%;
//}
//.rbc-time-view {
//  display: flex;
//  flex-direction: column;
//  flex: 1;
//  width: 100%;
//  border: 1px solid #DDD;
//  min-height: 0;
//}
//.rbc-time-view .rbc-time-gutter {
//  white-space: nowrap;
//}
//.rbc-time-view .rbc-allday-cell {
//  width: 100%;
//  position: relative;
//}
//.rbc-time-view .rbc-allday-events {
//  position: relative;
//  z-index: 4;
//}
//.rbc-time-view .rbc-row {
//  min-height: 20px;
//}
//.rbc-time-header {
//  display: none;
//  /*display: flex;*/
//  flex: 0 0 auto;
//  flex-direction: column;
//}
//.rbc-time-header.rbc-overflowing {
//  border-right: 1px solid #DDD;
//}
//.rbc-rtl .rbc-time-header.rbc-overflowing {
//  border-right-width: 0;
//  border-left: 1px solid #DDD;
//}
//.rbc-time-header > .rbc-row > * + * {
//  border-left: 1px solid #DDD;
//}
//.rbc-rtl .rbc-time-header > .rbc-row > * + * {
//  border-left-width: 0;
//  border-right: 1px solid #DDD;
//}
//.rbc-time-header > .rbc-row:first-child {
//  border-bottom: 1px solid #DDD;
//}
//.rbc-time-header .rbc-gutter-cell {
//  flex: none;
//}
//.rbc-time-header > .rbc-gutter-cell + * {
//  width: 100%;
//}
//.rbc-time-content {
//  display: flex;
//  flex: 1 0 0%;
//  align-items: flex-start;
//  width: 100%;
//  overflow-y: auto;
//  position: relative;
//  overflow-x: hidden;
//}
//.rbc-time-content > .rbc-time-gutter {
//  width: 66px;
//  flex: none;
//}
//.rbc-time-content > * + * > * {
//  border-left: 1px solid #DDD;
//}
//.rbc-rtl .rbc-time-content > * + * > * {
//  border-left-width: 0;
//  border-right: 1px solid #DDD;
//}
//.rbc-time-content > .rbc-day-slot {
//  width: 100%;
//  user-select: none;
//  -webkit-user-select: none;
//}
//.rbc-current-time-indicator {
//  position: absolute;
//  z-index: 1;
//  left: 0;
//  height: 1px;
//  width: 100%;
//  background-color: #e53935;
//  pointer-events: none;
//}
//.rbc-current-time-indicator::before {
//  display: block;
//  position: absolute;
//  left: -3px;
//  top: -3px;
//  content: ' ';
//  background-color: #e53935;
//  border-radius: 50%;
//  width: 8px;
//  height: 8px;
//}
//.rbc-rtl .rbc-current-time-indicator::before {
//  left: 0;
//  right: -3px;
//}
//
//
///*Drag and Drop*/
//.rbc-addons-dnd .rbc-row-content {
//  pointer-events: none;
//}
//.rbc-addons-dnd .rbc-row-content .rbc-show-more,
//.rbc-addons-dnd .rbc-row-content .rbc-event {
//  pointer-events: all;
//}
//.rbc-addons-dnd .rbc-addons-dnd-over {
//  background-color: rgba(0, 0, 0, 0.3);
//}
//
//.rbc-addons-dnd .rbc-event {
//  transition: opacity 150ms;
//}
//.rbc-addons-dnd .rbc-event:hover .rbc-addons-dnd-resize-ns-icon,
//.rbc-addons-dnd .rbc-event:hover .rbc-addons-dnd-resize-ew-icon {
//  display: block;
//}
//.rbc-addons-dnd.rbc-addons-dnd-is-dragging .rbc-event {
//  pointer-events: none;
//  opacity: .50;
//}
//.rbc-addons-dnd .rbc-addons-dnd-resizable {
//  position: relative;
//  width: 100%;
//  height: 100%;
//}
//.rbc-addons-dnd .rbc-addons-dnd-resize-ns-anchor {
//  width: 100%;
//  text-align: center;
//  position: absolute;
//}
//.rbc-addons-dnd .rbc-addons-dnd-resize-ns-anchor:first-child {
//  top: 0;
//}
//.rbc-addons-dnd .rbc-addons-dnd-resize-ns-anchor:last-child {
//  bottom: 0;
//}
//.rbc-addons-dnd .rbc-addons-dnd-resize-ns-anchor .rbc-addons-dnd-resize-ns-icon {
//  display: none;
//  border-top: 3px double;
//  margin: 0 auto;
//  width: 10px;
//  cursor: ns-resize;
//}
//.rbc-addons-dnd .rbc-addons-dnd-resize-ew-anchor {
//  position: absolute;
//  top: 4px;
//  bottom: 0;
//}
//.rbc-addons-dnd .rbc-addons-dnd-resize-ew-anchor:first-child {
//  left: 0;
//}
//.rbc-addons-dnd .rbc-addons-dnd-resize-ew-anchor:last-child {
//  right: 0;
//}
//.rbc-addons-dnd .rbc-addons-dnd-resize-ew-anchor .rbc-addons-dnd-resize-ew-icon {
//  display: none;
//  border-left: 3px double;
//  margin-top: auto;
//  margin-bottom: auto;
//  height: 10px;
//  cursor: ew-resize;
//}
//
///* new */
//
//.rbc-day-slot .rbc-events-container {
//  bottom: 0;
//  left: 0;
//  position: absolute;
//  right: 0;
//  margin-right: 10px;
//  top: 0;
//}
//
//.rbc-day-slot .rbc-event {
//  border: 2px solid #999;
//  display: -ms-flexbox;
//  display: flex;
//  max-height: 100%;
//  min-height: 20px;
//  -ms-flex-flow: column wrap;
//  flex-flow: column wrap;
//  -ms-flex-align: start;
//  align-items: flex-start;
//  overflow: hidden;
//  position: absolute;
//}
//
//.rbc-event {
//  border: none;
//  -webkit-box-shadow: none;
//  box-shadow: none;
//  margin: 0;
//  padding: 2px 5px;
//  border-radius: 5px;
//  color: #415059;
//  cursor: pointer;
//  width: 100%;
//  text-align: left;
//  transition: all 0.1s ease-in;
//}
//.rbc-event-replicon {
//  background-color: #bcddf0;
//}
//.rbc-event-glimpse {
//  background-color: #bcddf0;
//}
//.rbc-event-glimpse:hover {
//  opacity: 0.7;
//}
//.rbc-event-other {
//  background-color: #d4d4d4;
//  color: #eb7241;
//  border: 1px solid #eb7241;
//}
//.rbc-event-timeoff {
//  background-color: #b97800;
//  color: white;
//}
//.rbc-event.rbc-event-selected {
//  background-color: #415059;
//  color: #ffffff;
//}
//.rbc-event-other.rbc-event-selected {
//  background-color: #eb7241;
//  color: #ffffff;
//}
//.rbc-event-timesheet {
//  opacity: 0.7;
//  color: #415059;
//  background: repeating-linear-gradient(
//      45deg,
//      #bcddf0,
//      #bcddf0 15px,
//      #e3f1f8 15px,
//      #e3f1f8 30px
//  );
//}
//
//@media only screen and (max-width: 576px) {
//  .daily-view.with-calendar .rbc-time-content div.rbc-day-slot:nth-child(4) {
//    display: none;
//  }
//
//  .daily-view.with-emails .rbc-time-content div.rbc-day-slot:nth-child(3) {
//    display: none;
//  }
//}
//
//.navigation-container.no-draggable{
//  display: flex;
//  justify-content: space-around;
//}
//.navigation.draggable{
//  display: flex;
//  justify-content: space-between;
//}
//.calendar-navigation{
//  display: flex;
//  align-items: center;
//}
//.calendar-navigation .previous>span,.calendar-navigation .calendar-icon>span,.calendar-navigation .next>span{
//  font-size: 20px;
//}
//
//.calendar-slider{
//  display: flex;
//  justify-content: space-around;
//  margin-left: 68px;
//}

.carousel__item-image {
  max-height: 500px;
  width: 70%;
}

.carousel-item {
  text-align: center;
}

